@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #5D7586;
  --secondary: #F4F2EC;
  --background: #F4F2EC;
  --text: #2F3136;
  --accent: #5D7586;
  
  /* Default Forge Site palette */
  --steel-blue: #5D7586;
  --porcelain: #F4F2EC;
  --graphite: #2F3136;
  --lavender-gray: #D9DCE0;
  
}

body {
  background-color: var(--background);
  color: var(--text);
}
